@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --gradient1: linear-gradient(135deg, #667eea86 0%, #764ba28e 100%);
    --url-img: url("imagenes/bg.png");
    --box-shadow: 6px 6px 10px rgba(0,0,0,.6);
    --width: 100%;
    --radius: 8px;
}



body{
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background-image: var(--gradient1), var(--url-img);
    background-size: cover;
    background-position: center;
}



.logo{

}



.enlace{
    position:fixed;
    top: 1rem;
    right: -11rem;
    width: 100px;
}

.menu{
    
    position: fixed;
    
    width: 100%;
    padding: 20px;
    list-style: none;  
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: grey;   
}

.main_menu_item{
    padding: 30px 15px;
}


.main_menu_link{
    color: black;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.main_menu_link:hover
{
	color: white;
	text-decoration:none;
}



.registro{
	padding-top: 60px;
	padding-bottom: 2px;
	display: flex;
	flex-direction: column;
	

}



.form{
    width: 400px;
    background: #fff;
    margin: 3px auto;
    padding: 20px 20px 40px ;
	
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}






.registro h4
{
	font-size: 22px;
	margin:5% auto 0%;
}
.control
{
	width: 100%;
	background: white;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color: black;
}
.registro p
{
height: 40px;
text-align: center;
font-size: 18px;
line-height: 40px;
}
.registro a
{
	color: white;
	text-decoration: none;
}
.registro a:hover
{
	color: white;
	text-decoration: underline;
}
.boton
{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 1em;
	color: white;
	margin: 1em auto 0;
}


@media screen and (max-width: 768px) {



	
}



img{
    max-width: 100%;

}

.enlace{
    position:fixed;
    top: 1rem;
    right: 1rem;
    width: 80px;
}

.menu{
    
    position: fixed;
    top: -1rem;   
    width: 100%;
    padding: 20px;
    list-style: none;  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;   
}




@media screen and (min-width: 768px) {
    .menu{
        margin-bottom: 20px;
        flex-direction: row;
        font-size: 20px;
        padding: 40px;
        
    } 
    .main_menu_item{
        padding: 3px;
    }
}

ul{
    width: 40%;
    height: 120px;
}


.main_menu_link{
    color: black;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.main_menu_link:hover
{
	color: white;
	text-decoration:none;
}


.nombre{
    text-align: center;
    color: red;
    font-size: 15px;
}






